body, html {
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

.parent {
    display: flex;

}

.flex {
    display: inline-block;
}

.left {
    background: rgb(35, 78, 170);
    width: 50%;
}

.right {
    background: rgb(68, 153, 28);
    width: 50%;
    padding: 2rem;
}

#canvas {
    background: white;
    border-radius: 0.2rem;
    box-shadow: 0.3rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
    width: 100%;
}